code {
  display: block;
  margin-bottom: 25px;
  word-break: break-word;
}

.input.is-danger {
  border: 1px solid #c60f13;
}

.help.is-danger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  position: absolute;
  top: -10px;
  left: 5px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  padding: 5px 15px;
  color: #fff;
  background-color: #c60f13;
  border-color: #f5c6cb;
}

.help.is-danger:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #c60f13;
  position: absolute;
  bottom: -10px;
  left: 30px;
}

.input-wrap {
  position: relative;
  margin-bottom: 15px;
}

.input-wrap input {
  margin: 0 0 15px;
}

.input-wrap .button {
  margin-bottom: 0;
}

section {
  margin: 50px 0;
}

.hovering {
  background: #c60f13;
}

.remove-form-element ul {
  list-style: none;
  margin-left: 0;
}

.remove-form-element li {
  padding: 5px;
  border: 1px solid transparent;
  margin: 5px 0;
  cursor: pointer;
}

.remove-form-element li:hover {
  border: 1px solid #c60f13;
}

.form-element-list {
  padding: 0;
}

.form-element-list ul {
  margin: 0;
}

.form-element-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.direction-buttons .button {
  margin: 0;
}

[v-cloak] {
  display: none;
}

.fade-enter-active, .fade-leave-active {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
